<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fz6m.mapper.GoodsMapper">

    <!-- 分页条件查询商品列表-->
    <select id="searchPage" resultType="Goods">
        SELECT
        t1.*, t2.name supplierName
        FROM
        tb_goods t1
        LEFT JOIN tb_supplier t2 ON t1.supplier_id = t2.id
        WHERE 1=1
        <if test="req.name != null and req.name != ''">
            AND t1.name LIKE CONCAT('%', #{req.name}, '%')
        </if>
        <if test="req.code != null and req.code != ''">
            AND t1.CODE LIKE CONCAT('%', #{req.code}, '%')
        </if>
        <if test="req.supplierId != null">
            AND t1.supplier_id = #{req.supplierId}
        </if>
    </select>

</mapper>
